h1{
       text-align:right;
       text-decoration:wavy pink overline;
       
      
      
}
h2{
       text-align:right;
      text-decoration:double yellowgreen underline;
      font-weight:700;

     
}
p{
       text-align:right;
       font-weight :bold;
}
