h2{
       color:maroon;
}
h2{
       color:teal;
}
h2{
       color:magenta;
}
h2{
       color:rgb(255,0,0);
}
h2{
       color:rgb(0,0,255);
}
h2{
       color:rgb(120,0,120);
}
h2{
       color:rgb(239, 232, 8);
}
h2{
       color:#00ff00;
}
h2{
       color:#ffff00;
}