body{
   background-color:lightgreen;
   text-align:center;
}
h1{
   color:red;
   text-decoration:lightseagreen double underline;
   letter-spacing: 1.3px;
   font-size:65px;
}
p{
   color:darkviolet;
   line-height: 1.2;
   letter-spacing: 1.2px;
   font-size:50px;
   
}
.a{
   background-color: yellow;
}